.App {
  text-align: center;
}

.start-container {
  background-color: #fff;
  margin-top: 50px;
  padding: 50px;
  box-shadow: 15px 15px 20px darkgoldenrod;

  .button-container {
    text-align: center;
    margin-top: 40px;
  }

  p {
    line-height: 1.4;
  }
}

